<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- customTitle ถูกส่งมาเพื่อให้แต่ละหน้าต่างกันได้ --}}
    <title>{{ customTitle }} Potip</title> 
    <link rel="icon" href="/static/IMG_4936.png">
    <link rel="stylesheet" href="/static/nomolize.css">
    <link rel="stylesheet" href="/static/main.css">
</head>