<header style="background-color: rgb(183, 216, 183)">
    <a href="/">
        <img src="/static/IMG_4936.png">
        <span>FeelFriends</span>
    </a>
    <a href="/p/new">create new post</a>
</header>