<header>
    <div class="header-left">
        <a href="/">
            <img src="/static/IMG_4936.png">
            <span>Potip</span>
        </a>
    </div>
    <div class="header-right">
         <a href="/p/new">create new post</a>
    </div>
</header>

