<footer>
  <div class="pic-bottom">
    <img src="/static/IMG_4929.png" style="height: 30px" >
    <img src="/static/IMG_4930.png" style="height: 30px">
    <img src="/static/IMG_4931.png" style="height: 30px">
    <img src="/static/IMG_4932.png" style="height: 30px">
    <img src="/static/IMG_4934.png" style="height: 30px">
  </div>
  <div class="bottomtext">
    <a href="https://www.linkedin.com/in/jparinchat/">
      <p>_ Designed and built by ParinchatJ _</p>
    </a>
  </div>
</footer>