<!DOCTYPE html>
<html lang="en">

{{!-- ส่ง custom title ไปที่ baseHead --}}
{{> baseHead customTitle="New |" }} 

<body>
    {{> siteHeader}}
    <div>
        <h1>new post</h1>
        <p>You can ask anything</p>
    </div>
    {{> siteFooter}}
</body>
</html>