<!DOCTYPE html>
<html lang="en">

{{> baseHead customTitle="New |" }} 

<body>
    {{> siteHeader}}
        <section class="section">
             <div class="container">
                <h2>Success post!!</h2>
                <p>You can view post in home page and comment anything</p>
                <a href="/">Back to home page</a>
            </div>
        </section>
    {{> siteFooter}}
</body>
</html>